

    html{
        max-height: 100%;
        background-color: black;
    }

    #blocPage{
        /* background-color: coral; */
        background-image: url("../images/bois.jpg");
        background-repeat : repeat-y;
        background-size: 100%;
        width: 90%;
        height: 100%;
        margin: 0 auto;

    }
   /* ----------------------titre------------------ */
    h1{
        font-size: 4em;
        text-align: center;
        
    }
  /* ------------------------images------------------ */
    #icones{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #icones img{
        border-radius: 50%;
        box-shadow: 0 10px 3px black;
        max-width: 30%;
        width : 100px;
        height : 100px;
        opacity: 0.8;
    }
    #icones img:hover{
        opacity: 1;
    }
    #icones img:active{
        box-shadow: 0 5px 3px black;
        transform: translateX(5px);
    }
    .choix{
        text-align: center;
        font-size: 2em;
        margin-top: 0;
        margin-bottom: 50px;
    }

    /* ------------------------combat----------------- */
    #combat{
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
    #combat img{
        max-width: 40%;
        width : 150px;
        height: 150px;
    }
    #combat img:nth-child(2){
        max-width: 20%;
        
    }

    /* ----------------------resultat----------------- */
    #resultat {
        width: 60%;
        height: 50px;
        background-color: rgba(116, 81, 56, 0.4);
        margin: 50px auto;
        text-align: center;
        font-size: 2em;
        line-height: 50px;
    }


    /* ------------------------partie------------------- */
    #bouton{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    
    button {
        text-align: center;
        background-color: rgb(80, 54, 40);
        line-height: 30px;
        color: white;
        border: none;
        margin: auto;
    }
